:root {
  --primari-text-color: #2e2f42;
  --title-color: #434455;
  --accent: #4d5ae5;
  --accent-two: #f4f4fd;
  --header-color: #e7e9fc;
  --white: #ffffff;
  --lightslate: #8e8f99;
  --color-input: #404bbf;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  margin: 0 auto;
  background-color: var(--white);
}

body ul {
  list-style: none;
}
img {
  display: block;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
/* header */
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.box-header {
  display: flex;
  margin: 0 auto;
}

.nav-content {
  display: flex;
  align-items: center;
}
.accent {
  color: var(--primari-text-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--accent);
  margin-right: 76px;
}

.logo-foot {
  color: var(--accent-two);
}
.contacs:hover,
.contacs:focus {
  color: #404bbf;
}
.contacs {
  font-style: normal;
  display: flex;
  margin-left: auto;
  margin-top: 24px;
  margin-bottom: 24px;
}
.connection {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.link:hover,
.link:focus {
  color: #404bbf;
}
.site-nav {
  display: flex;
}
.navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primari-text-color);
  margin-right: 40px;
  display: flex;
  margin-right: 40px;
}
.navigation:last-child {
  margin-right: 0;
}
.menu {
  display: flex;
  gap: 40px;
  margin-left: auto;
}

.link {
  text-decoration: none;
}
/* hero */
.hero {
  background-color: var(--primari-text-color);
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
  max-width: 1440px;
  text-align: center;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/peopleofficeback.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  width: 496px;
  color: var(--white, #fff);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  text-align: center;
}
.button {
  font-family: "Roboto", sans-serif;
  background-color: var(--accent);
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.button-seting {
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-goals {
  padding-top: 120px;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
  color: var(--white);
  border: 1px solid transparent;
  border: 1px solid transparent;
}
/* Goals */

.title-goals {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primari-text-color);
  margin-bottom: 8px;
}
.main {
  display: flex;
  gap: 24px;
  padding: 0;
}

.section-goals {
  color: var(--title-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 8px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages {
  width: calc((100% -3 * 24) / 4);
}
.icon-goals {
  display: block;
  height: 112px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--accent-two);
  border-radius: 4px;
  padding: 24px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.work {
  display: flex;
  gap: 24px;
}
.we-doing {
  padding-bottom: 120px;
}

.team-card-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primari-text-color);
  text-align: center;
  margin-bottom: 8px;
}
/* Team card */
.width-limiter {
  margin: 0 auto;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primari-text-color);
  text-transform: capitalize;
  padding-top: 120px;
  margin-bottom: 72px;
}
.team {
  display: flex;
  margin-bottom: 120px;
  gap: 24px;
}

.title-client {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  color: var(--primari-text-color);
}
.item {
  flex-basis: calc((100% - 3 * 16px) / 3);
}
.clients {
  padding-bottom: 120px;
  padding-top: 120px;
}
.card-list {
  background-color: #ffffff;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-card {
  background-color: #f4f4fd;
  padding-bottom: 120px;
  text-align: center;
}
.item-name {
  padding: 32px 16px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--accent);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
  background-color: #404bbf;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.section-customers {
  margin-top: 120px;
  margin-bottom: 120px;
}
.icon-circle {
  color: currentcolor;
  fill: var(--accent-two);
}

/* Customers */
.customers {
  width: 168px;
  height: 88px;

  display: inline-flex;
  width: calc((100% - 120px) / 6);
}
.icons-links {
  width: 100%;
  height: 100%;
  border: 1px solid var(--lightslate);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--lightslate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-links:hover,
.icons-links:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-list {
  display: flex;
  gap: 24px;
}
.icon-customers {
  fill: currentcolor;
}

.footer-info {
  line-height: 1.5;
  color: var(--accent-two);
  letter-spacing: 0.02em;
  max-width: 264px;
  font-weight: 400;
}

.footer-item {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  display: block;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-icons {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  width: 200px;
  height: 80px;
}
.footer-advantages {
  margin-right: 120px;
}
.icon-info-footer {
  display: flex;
  gap: 16px;
}
.footer-icon {
  width: 40px;
  height: 40px;
}
.social-link-foot {
  width: 100%;
  height: 100%;
  background-color: var(--accent);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-foot:hover,
.social-link-foot:focus {
  background-color: #31d0aa;
}
.footer-box {
  display: flex;
  align-items: baseline;
 
}

/* Portfolio */

.galery-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.galery-link:hover,
.galery-link:focus {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.all-images {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primari-text-color);
  margin-bottom: 8px;
}
.subtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.button-styls button {
  color: var(--accent);
  cursor: pointer;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #f4f4fd;
  padding: 12px 24px;
  border: 1px solid var(--header-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-styls button:hover,
.button-styls button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.text {
  background-color: var(--primari-text-color);
  color: var(--accent-two);
  padding: 100px 0;
}

.my-color {
  color: var(--primari-text-color);
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
}
.my-color.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.ocean-color {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.color-tel {
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery {
  padding-top: 96px;
  padding-bottom: 120px;
}

.button-contant {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.galery-element {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0;
}

.item-galery {
  flex-basis: calc((100% - 48px) / 3);
}
.galery-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 34px;
  padding-top: 1px;
  padding: 72px 24px 24px 24px;
}
.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: var(--header-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:focus .modal-icon,
.modal-btn:hover .modal-icon {
  fill: #ffffff;
}

/* Overlay */
.overlay {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  display: flex;
  width: 360px;
  height: 300px;
  transition: transform 250ms;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  color: var(--accent-two);
  background-color: var(--accent);
  padding: 40px 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.galery-link:hover .overlay-text,
.galery-link:focus .overlay-text {
  transform: translateY(0%);
}
.modal-caption {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primari-text-color);
  margin-bottom: 16px;
}

.modal-form-field {
  margin-bottom: 8px;
}
.input-container {
  position: relative;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-label {
  display: block;
  margin-bottom: 4px;
}

.modal-form-input:focus {
  border-color: var(--accent);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent);
}

.modal-textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;

  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.modal-form-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate);
}

.modal-textarea-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.modal-textarea:focus {
  border-color: var(--accent);
}

/* Checkbox */
.modal-form-agreement {
  display: block;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate);
}

.modal-form-agreement-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
}

.mobile-header {
  display: none;
}
.modal-form-agreement-desc {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-agreement-link {
  color: var(--accent);
}

.user-form-footer {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.form-subscribe {
  display: flex;
  gap: 24px;
}

.email-input-foot {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--accent);
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
}

.email-foot-icon {
  margin-left: 16px;
  fill: #fff;
}

.subscribe-text {
  margin-bottom: 16px;
}
.checkbox-container {
  margin-bottom: 24px;
}

.button-checkbox {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  gap: 10px;
  background-color: var(--accent);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.modal-form-agreement-checkbox:checked
  + .modal-form-agreement
  .modal-form-agreement-desc {
  background-color: var(--color-input);
  border: none;
  fill: var(--accent-two);
}

.modal-menu-bur {
  display: none;
}

/* Mobile device */
@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 16px;
    min-width: 100%;
    margin: 0 auto;
  }
  .our-goals {
    padding: 72px 0;
  }
  .advantages .icon-goals {
    display: none;
  }
  .main {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .advantages {
    width: 100%;
  }
  .we-doing {
    display: none;
  }

  .team {
    flex-direction: column;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
  .customers-list {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .customers {
    width: calc(50% - 12px);
  }

  .footer-box {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .user-form-footer {
    flex-direction: column;
    display: flex;
  }

  .text {
    width: 100%;
  }

  .form-subscribe {
    flex-direction: column;
  }
  .hero-title {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .box-header {
    display: none;
  }

  .title-goals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

  .mobile-header {
    display: flex;
    padding: 25.5px 16px 24px;
  }

  .menu-button {
    display: block;
    margin-left: auto;
    background-color: transparent;
    border: transparent;
  }

  .logo {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
  }

  .mobile-menu-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
  }

  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
  }

  .mobile-menu-item .link {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--primari-text-color);
  }

  .mobile-menu-item:focus {
    color: var(--accent);
  }

  .address-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--accent);
  }

  .mobile-menu-address-item {
    padding-bottom: 40px;
  }

  .mobile-menu-address-list {
    margin-bottom: 48px;
  }

  .modal-menu-link-mail {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
  }

  .modal {
    width: 100%;
  }
  .mobile-menu-modal {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50% -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .is-open {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .modal-menu-bur {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 80px;
    padding-right: 35px;
    padding-bottom: 40px;
    padding-left: 40px;
    background-color: var(--white);
  }

  .footer-text {
    margin: 0 auto 16px auto;
    display: block;
  }

  .footer-advantages {
    margin: 0 auto;
  }

  .logo {
    margin: 0 auto 17.5px auto;
    text-align: center;
    display: block;
  }

  .footer-info {
    margin-bottom: 72px;
  }

  .subscribe-text {
    margin: 72px auto 0 auto;
  }

  .form-subscribe {
    margin-top: 16px;
  }
  .user-form-footer{
    width: 100%;
  }
}

/* Tablet device */

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .our-goals {
    padding: 96px 0;
  }
  .advantages .icon-goals {
    display: none;
  }
  .main {
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
    width: 100%;
  }
.advantages{
  flex-basis: calc((100% - 24px) / 2);
  
}
  .we-doing {
    display: none;
  }

  .team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }
  .customers-list {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 72px;
    column-gap: 24px;
    flex-wrap: wrap;
  

  }

.customers{
  flex-basis: calc((100% - 48px) / 3);
}

 
   
  .user-form-footer {
    flex-direction: column;
    display: flex;
  }

  .text {
    width: 100%;
  
  }

  
  .hero-title {
    width: 350px;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

  .container {
    width: 100%;

  }

  .connection{
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
  }

  .menu{
    flex-direction: column;
    gap: 12px;
  }

  .title-goals{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

  .section-goals{
    font-weight: 500;
    flex-wrap: wrap;
    display: block;
  }

 .box-header{
  width: 100%;
 }

 
  
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/heder-back-mobil.jpg);
    width: 100%;
  }
}
